# Eclipse/Java
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.class

# Genenerated Files
src-gen/

# Xtend
xtend-gen/
*._trace
*.xtendbin

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Custom
EvaluationData
*.DS_Store
*.polyglot
*.pom.tycho
tests/tools.vitruv.applications.umljava.tests/src/tools/vitruv/applications/umljava/tests/java2uml/constructionsimulationtest/JavaSourceOrClassFileResourceWithArraysDefaultFactoryImpl.java
