/AddInnerDeclarationToCompositeDataTypeRoutine.java
/AddProvidedRoleRoutine.java
/AddRequiredRoleRoutine.java
/AddSuperTypeToDataTypeRoutine.java
/ChangeInnerDeclarationTypeRoutine.java
/ChangeInterfaceMethodReturnTypeRoutine.java
/ChangeMethodForSeffRoutine.java
/ChangeParameterTypeRoutine.java
/ChangeReturnTypeOfMethodForOperationSignatureRoutine.java
/ChangeTypeOfInnerDeclarationImplementationRoutine.java
/CreateCollectionDataTypeImplementationRoutine.java
/CreateCompilationUnitRoutine.java
/CreateComponentImplementationRoutine.java
/CreateCompositeDataTypeImplementationRoutine.java
/CreateImplementationForComponentRoutine.java
/CreateInnerDeclarationImplementationRoutine.java
/CreateInterfaceImplementationRoutine.java
/CreateJavaClassRoutine.java
/CreateJavaInterfaceRoutine.java
/CreateJavaPackageRoutine.java
/CreateMethodForOperationSignatureRoutine.java
/CreateMethodForResourceDemandingBehaviorRoutine.java
/CreateParameterRoutine.java
/CreateRepositorySubPackagesRoutine.java
/CreateSEFFRoutine.java
/DeleteJavaClassifierRoutine.java
/DeleteJavaPackageRoutine.java
/DeleteMethodForOperationSignatureRoutine.java
/DeleteMethodForResourceDemandingBehaviorRoutine.java
/DeleteMethodForSeffRoutine.java
/DeleteParameterRoutine.java
/ReinitializeOperationRequiredRoleRoutine.java
/RemoveProvidedRoleRoutine.java
/RemoveRequiredRoleRoutine.java
/RenameCollectionDataTypeRoutine.java
/RenameComponentClassRoutine.java
/RenameComponentPackageAndClassRoutine.java
/RenameCompositeDataTypeRoutine.java
/RenameInnerDeclarationImplementationRoutine.java
/RenameInterfaceRoutine.java
/RenameJavaClassifierRoutine.java
/RenameJavaPackageRoutine.java
/RenameMethodForOperationSignatureRoutine.java
/RenameMethodForResourceDemandingBehaviorRoutine.java
/RenamePackageForRepositoryRoutine.java
/RenameParameterRoutine.java
/RoutinesFacade.java
/UpdateSEFFImplementingMethodNameRoutine.java
