<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         id="SimuLinkAutoSARApplication"
         name="SimuLink-AutoSAR Application"
         point="tools.vitruv.framework.applications.application">
      <application
            class="tools.vitruv.applications.simulinkautosar.SimuLinkAutoSARApplication"></application>
   </extension>

</plugin>
