<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         id="pcmUmlClassJavaApplication"
         name="PCM - UML Class - Java Application"
         point="tools.vitruv.framework.applications.application">
      <application
            class="tools.vitruv.applications.pcmumlclassjava.PcmUmlClassJavaApplication"></application>
   </extension>

</plugin>
