<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension id="tools.vitruv.domains.java.ui.builder.JavaBuilder.id" point="org.eclipse.core.resources.builders">
            <builder>
                  <run class="tools.vitruv.domains.java.ui.builder.VitruvJavaBuilder">
                  </run>
            </builder>
      </extension>

      <extension point="org.eclipse.core.expressions.propertyTesters">
            <propertyTester class="tools.vitruv.domains.java.ui.builder.JavaTestBuilderEnabled" id="tools.vitruv.domains.java.ui.builder.JavaBuilder.id" namespace="tools.vitruv.domains.java.ui.builder" properties="isEnabled" type="java.lang.Object">
            </propertyTester>
      </extension>

      <extension point="org.eclipse.ui.startup">
            <startup class="tools.vitruv.domains.java.ui.builder.JavaBuildOnEclipseStartup">
            </startup>
      </extension>
      <extension
            name="Vitruv Java Project Builder"
            point="tools.vitruv.framework.domains.ui.builder">
         <assignment
               builderId="tools.vitruv.domains.java.ui.builder.JavaBuilder.id"
               domain="tools.vitruv.domains.java.JavaDomain">
         </assignment>
      </extension>
</plugin>
