name: CI

# workflow triggers
on:
  # manually
  workflow_dispatch:
  # PRs on `main`
  pull_request:
    branches:
    - main
  # nightly
  schedule:
    - cron: "0 4 * * *"

jobs:
  verify:
    name: Verify build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        exclude:
          - os: windows-latest # TODO: Windows builds currently fail as documented in https://github.com/vitruv-tools/Vitruv-CaseStudies/issues/241

    steps:
    - name: Support Longpaths [Windows]
      if: matrix.os == 'windows-latest'
      run: git config --system core.longpaths true

    - name: Checkout repository
      uses: actions/checkout@v6.0.1

    - name: Setup Java and Maven cache
      uses: actions/setup-java@v5.2.0
      with:
        distribution: 'temurin'
        java-version: '17'
        check-latest: true
        cache: 'maven'

    - name: Verify build
      run: >
        ./mvnw clean verify
        --batch-mode
        --update-snapshots
        --no-transfer-progress
